*{
    margin: 0%;
    padding: 0%;
    font-family: 'Work Sans';
}

.hover {
   
    background-image: url(./images/banner/banner1.png);
    
    width: 1600px;
    height: 700px;
  
    background-size: 100% 100%;
   background-repeat: no-repeat;
    margin: 0%;
    

}

.Header{
    
    padding-top: 216px;
    padding-left: 230px;
    padding-right: 845px;
}
.header_title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 20px;
    width: 525px;
    height: 228px;
    text-align: left;  
    left: 845px;
     
}

.header_Description{
    font-weight: 400;
     font-size: 20px;
      color: #444343;

     width: 494px;
     height: 78px;
    padding-bottom: 30px;
}

.header_button{
    width: 160px;
    height: 64px; 
    background: #F15B22;
    border-radius: 5px ;
    border: transparent;

    padding-top: ;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

/* 2nd Pard */
main{
    background-color: #FFFFFF;
}
.container-img{
    height: 600px;
    width: 569px;
    padding-right: 20px;
   
    padding-bottom:100px
}

/* .container-title{ */

    .container{
   display: flex;
justify-content: center;

vertical-align: middle;
margin-bottom: 20px;
}

.containertext{
    width: 416px;
    height: 400px;
    margin-right: 86px;
   margin-top: 200px;

}
.container-details {
    font-weight: 400;
    font-size: 16px; 
    color: #444343;
    padding-bottom: 15px;
}


  
  .container-icon{
      left: 16.67%;
      right: 16.67%;
      height: 10px;
     
  }
  
  .container-list{
          font-weight: 400;
          font-size: 16px;
           list-style: none;
          text-align:justify;
          color: #444343;
          width: 349px;
          height: 162px;
  }

/* part3 Plans section */

    
.Plans{ 
    padding-top: 10px;
    display: flex;
    justify-content: space-between;

    padding-left: 230px;
     padding-right: 230px;
}

.plan-section h2{
    margin-top: 50px;
  margin-bottom: 50px;}


h2{
    text-align: center;
    padding: 20px;
    font-weight: 700;
     font-size: 40px;
     color: #151414;

}

.plan-name{
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan-des{
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* bottom img */
.bottom-content{
    width: 459px;
    height: 182px; 
   
    margin-bottom: 200px ;

  padding-right: 220px;
  padding-left: 220px ;
}

.bottom-img{
margin-top: 147px;
/* background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),  url(images/watch.png); */

background-image: url(./images/gradient2.png), url(./images/watch.png);


width: 1140px;
height: 300px;
background-size: cover;
background-repeat: no-repeat;
padding-right: 200px;
padding-left: 250px;
}

.bottom-img-txt{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    width: 459px;
   height: 120px;
   padding-top: 56px;
   
   margin-top: 5px;
}

.call{
    color: #F15B22;
    background: #FFFFFF;
    border-radius: 5px; 
    border: transparent;
    width: 160px;
     height: 64px;

     font-weight: 600;
     font-size: 20px;

padding-top: 21px;
  padding-bottom:20px;

  margin-top: 20px ;
  margin-bottom: 60px ;
}

/* Ending part */

/* Contact Part */
.foter-section{
   
    
    height: 577px;
     
     background: #151414;
    background:;
     color: white;

     display: flex;
     
     
}

contact-text a{ 
 
 justify-content: space-around;
    
}
.contact-text{
    padding-top: 130px ;
    padding-bottom: 130px ;
    padding-left: 230px ;
    padding-right: 880px ;
}

.contact-text h3{
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 16px ;
}
.contact-text p{
    font-weight: 400;
    font-size: 16px;
}

 .contact-details p{
    padding-top: 10px;
  padding-bottom: 20px;
 
}

/* Subscribe part */
.subscribe{
    
    padding-top: 130px ;
    padding-bottom: 130px ;
padding-right: 230px;

}

.subscribe h3{
    font-weight: 600;
    font-size: 35px;
    
    margin-bottom:5px;
}

.subscribe-btn{
    color: #F15B22;
    font-weight: 600;
    font-size: 20px 36px;

    padding: 20px;
    width: 170px;
    height: 65px;
    background: #FFFFFF;
    border-radius: 8px;
    border: transparent;

}

.email-id{
    
    height: 60px;
    width: 350px;

    margin-top: 31px;
    margin-bottom: 20px;

    background-color: #151414;
    border: 1px solid rgb(255, 254, 254);
    border-radius: 8px;
    color:white;

    padding-left: 21px;

    font-size: 20px;
    font-weight: 500;
    line-height: 21px;
}

/* Button Hover */

.subscribe-btn:hover{
    color: #ffffff;
    
    border: 2px solid #59f4ff;
    border-radius: 5px; 
    background-color: red;
}

.header_button:hover{
   
    color: #ffffff;
   background-color: rgb(255, 8, 8);
}

.call:hover{
background-color: #1b0cf3;
color: #ffffff;
}
